<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block css %}
    {% include "includes/main_css.html" %}
    {% endblock css %}

    <title>
        {% block title %}
        WSGI Present
        {% endblock title %}
    </title>

</head>

<body>
  <div id="main">
      {% include "includes/main_header.html" %}
      {% block body %}
      {% endblock body %}
      {% include "includes/main_footer.html" %}
  </div>
</body>

</html>